@if (Ticket is not null)
{
    @*<div class="col-sm-12 col-md-6 col-lg-3">*@

        <div class="card border-dark mb-3 text-center">
            <div class="card-header bg-transparent border-success text-center">@Ticket.Title</div>
            <div class="card-body text-dark text-center">
                <h7 class="card-title">Event</h7>
                <p class="card-text text-center">@Ticket.Description</p>
            </div>
            <div class="card-footer text-muted text-center">
                <p class="text-danger">Event Date: @(Ticket.EventDate.HasValue?Ticket.EventDate.Value.ToShortDateString():"no data")</p>
                <p class="text-success">Entered Date: @(Ticket.EnteredDate.HasValue?Ticket.EnteredDate.Value.ToShortDateString():"no data")</p>
                <p class="text-primary">Owner: @Ticket.Owner</p>
            </div>
        @if (showButton)
        {               
        <div class="card-footer text-muted text-center">
                <div class="row form-group">  
                   
                <div class="col">
                        <NavLink href="@($"/tickets/{Ticket.Id}")" class="btn btn-info">Edit</NavLink>
                    </div>
                  
                    @* <div class="col">
                        <NavLink href="@($"/tickets/{Ticket.Id}")" class="btn btn-info">Delete</NavLink>
                    </div>*@
                </div>
            </div> 
               }
        </div>
    @*</div>*@
}
@code
{
    [Parameter]
    public Ticket Ticket { get; set; }
    [Parameter] public bool showButton{ get; set; }
}
